@import "../../app.scss";

.featured{
    height: 76vh;
    position: relative;
    z-index: 0;

    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        z-index: 2;

        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;
        }

    }


    .imgshade1{
        height: 76vh;
        width: 60%;
        z-index: 1;
        position: absolute;
        background: linear-gradient(to right,#181818 10%,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.87) 55%,rgba(23,23,23,.82) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%);
        @include mobile {
            display: none;
        }
    }
    .imgshade2{
        height: 17vh;
        margin-top: 59vh;
        width: 100%;
        z-index: 1;
        position: absolute;
        
        background: linear-gradient(to top, #0b0b0b 10%,rgba(11,11,11,.98) 20%,rgba(11,11,11,.97) 25%,rgba(11,11,11,.95) 35%,rgba(11,11,11,.94) 40%,rgba(11,11,11,.92) 45%,rgba(11,11,11,.9) 50%,rgba(11,11,11,.87) 55%,rgba(11,11,11,.82) 60%,rgba(11,11,11,.75) 65%,rgba(11,11,11,.63) 70%,rgba(11,11,11,.45) 75%,rgba(11,11,11,.27) 80%,rgba(11,11,11,.15) 85%,rgba(11,11,11,.08) 90%,rgba(11,11,11,.03) 95%,rgba(11,11,11,0) 100%);
        @include mobile {
            margin-top: 220px;
            height: 50vh;
        }
    }
    .img2{
        margin-left: 15%;
        width: 85%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 0;
        @include mobile {
            margin-top: 120px;
            height: 50vh;
            width: 180%;
            margin-right: 0;
            right: 0;
        }
        @include tablet {
            width: 160%;
            margin-left: -60%;
        }
    }

    

    .info{
        width: 30%;
        position: absolute;
        left: 50px;
        bottom: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        z-index: 2;

        img{
            width: 500px;
            @include mobile {
                width: 300px;
            }
        }

        .desc{
            margin-top: 40px;
            @include mobile {
                width: 280px;
            }
            @include tablet {
                width: 330px;
            }
        }

        .buttons{
            display: flex;
            text-decoration: none;
            margin-top: 50px;
            margin-bottom: 30px;
            @include mobile {
                margin-top: 20px;
            }

            button{
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                margin-right:25px;
                cursor: pointer;

                &.play:hover{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more:hover{
                    background-color: grey;
                    color: white;
                }

                span{
                    margin-left: 5px;
                }
            }
        }
    }

}